# Utilities
numpy
pandas

# face-recognition modules
scikit-learn
dlib-bin
git+https://github.com/ageitgey/face_recognition_models
setuptools<70.0.0

# Database
supabase
bcrypt # hashing methods

segno
pillow

streamlit

# voice/audio processing 
librosa
speechbrain 