streamlit==1.59.2

# Utilities
numpy==2.4.6
pandas==3.0.3

# FACE RECOGNITION
scikit-learn==1.9.0
dlib-bin==20.0.1
git+https://github.com/ageitgey/face_recognition_models@e67de717267507d1e9246de95692eb8be736ab61
setuptools

supabase==2.31.0
bcrypt==5.0.0

segno==1.6.6
pillow==12.3.0

# voice recognition
librosa==0.11.0
webrtcvad-wheels==2.0.14
resemblyzer==0.1.4
torch==2.13.0